.generated
azagent
.project
.classpath
.factorypath
.settings

# used to keep refs to remove folders in modules
.links
uservice-timeentries/main/host/temp_raport2_from_test.pdf
uservice-timeentries/main/host/temp_raport3_from_test.pdf
